﻿
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .linkler a {
        background-color: #FFF !important;
    }
</style>
<!----->
<div class="grid-form1">
    <center><h3 id="forms-horizontal">İçerik Ekle</h3></center>
    @using (Html.BeginForm("Hakkimizda", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @ViewBag.Error
        @ViewBag.DosyaIsmi
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">İçerik Başlık</label>
            <div class="col-sm-10">
                <input type="text" name="baslik" class="form-control" id="inputEmail3" placeholder="Başlık Giriniz">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label hor-form">İçerik Yazısı</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="icerik" rows="15" id="comment"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Ekle</button>
            </div>
        </div>
    }
        
</div>
<!---->

