﻿@model b141210054_proje.Models.Icerikler

@{
    ViewBag.Title = "IcerikSil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .linkler a {
        background-color: #FFF !important;
    }
</style>
<h2>IcerikSil</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Icerikler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeoDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeoDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeoKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeoKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Konu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Konu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ozet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ozet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DersAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DersAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Geri Dön", "IcerikListele")
        </div>
    }
</div>
