﻿@model b141210054_proje.Controllers.AdminDTO
@{
    ViewBag.Title = "IcerikListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .linkler a {background-color:#FFF !important;}
</style>
<h2>IcerikListele</h2>

<p>
    @Html.ActionLink("Yeni İçerik Ekle", "Icerikekle")
</p>
<table class="table">
    <tr>
        <th>
            Başlık
        </th>
        <th>
            Resim
        </th>
        <th>
            Konu
        </th>
        <th>
            Tur
        </th>
        <th>
            Tarih
        </th>
        <th>
            Ders Adı
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.icerik) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        @if (item.Resim == null)
        {
            <td><center><img style="width:90px; height:90px;" src="~/assets/images/usericon.png" /></center></td>
        }
        else
        {
            <td><center><img style="width:90px; height:90px;" src="@Html.DisplayFor(modelItem => item.Resim)" /></center></td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Konu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DersAdi)
        </td>
        <td>
            <div class="linkler">
                @Html.ActionLink("Düzenle", "IcerikDuzenle", new { id = item.Id }) |
                @Html.ActionLink("Sil", "IcerikSil", new { id = item.Id })
            </div>
        </td>
    </tr>
}

</table>
