﻿
@{
    ViewBag.Title = "Icerikekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .linkler a {
        background-color: #FFF !important;
    }
</style>
<!----->
<div class="grid-form1">
    <center><h3 id="forms-horizontal">İçerik Ekle</h3></center>
    @using (Html.BeginForm("IcerikEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @ViewBag.Error
        @ViewBag.DosyaIsmi
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">İçerik Başlık</label>
            <div class="col-sm-10">
                <input type="text" name="baslik" class="form-control" id="inputEmail3" placeholder="Başlık Giriniz">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">Seo Key</label>
            <div class="col-sm-10">
                <input type="text" name="keys" class="form-control" id="inputEmail3" placeholder="Seo Keyleri Araya Virgül Koyarak Yazınız">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">Seo Desc</label>
            <div class="col-sm-10">
                <input type="text" name="desc" class="form-control" id="inputEmail3" placeholder="Seo Tanımlaması Giriniz">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">Konu</label>
            <div class="col-sm-10">
                <input type="text" name="konu" class="form-control" id="inputEmail3" placeholder="Konu Giriniz ">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">Ders</label>
            <div class="col-sm-10">
                <input type="text" name="ders" class="form-control" id="inputEmail3" placeholder="Konu Giriniz ">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">Tür</label>
            <div class="col-sm-10">
                <select typeof="text" name="tur" class="form-control" id="inputEmail3">
                    <option>Ders</option>
                    <option>Guncel</option>
                    <option>Teknoloji</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label hor-form">Ozet</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="ozet" rows="3" id="comment" placeholder="Max : 100 Karakter Giriniz."></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label hor-form">İçerik Yazısı</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="yazi" rows="10" id="comment"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label hor-form"></label>
            <div class="col-sm-10">
                <input type="file" name="resim" id="file">
                <p class="help-block">Resim Ekleyiniz.</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Ekle</button>
            </div>
        </div>
    }
        
</div>
<!---->

