﻿@model b141210054_proje.Models.Yorumlar

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .linkler a {
        background-color: #FFF !important;
    }
</style>

<h2>Yorum Sil</h2>

<h3>Bu yorumu silmek istiyor musun güzel kardeşim ?</h3>
<div>
    <h4>Yorumlar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yorum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yorum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onay)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            <div class="linkler">
                @Html.ActionLink("Yorumlar Listesine Geri Dön", "YorumListele")
            </div>
        </div>
    }
</div>
