﻿@model IEnumerable<b141210054_proje.Models.Yorumlar>

@{
    ViewBag.Title = "Yorum Listele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .linkler a {background-color: #FFF !important;}
</style>
<h2>Yorum Listele</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yorum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Onay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yorum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Onay)
        </td>
        <td>
            <div class="linkler">
                @Html.ActionLink("Duzenle", "YorumDuzenle", new { id = item.Id }) |
                @Html.ActionLink("Detay", "YorumDetay", new { id = item.Id }) |
                @Html.ActionLink("Sil", "YorumSil", new { id = item.Id })
            </div>
        </td>
    </tr>
}

</table>
