
@media screen and (max-width:1200px)  {
	.tab-menu a {font-size: 12px; padding: 6px 12px;}
}	
@media screen and (max-width:1100px)  {


}	
	
@media screen and (max-width:992px)  {
	


}	
	
@media screen and (max-width:768px) {
	.section2 .sec2yazi p{font-size: 11px;}
}	

@media screen and (max-width:730px) {
	.header .alt ul li {list-style:none; float:left; padding:6px 6px; border-right:1px solid #FFF; margin:8px 0px;}
	.header .alt ul li a{color:#FFF; text-decoration:none; font-family: 'Roboto', Arial;font-weight: 500; font-size:13px;}
	.detayicerik .dtyhepsi .yatozellik .mtb {height:38px; padding-top:3px; overflow:auto;}

}

@media screen and (max-width:675px) {

	
}
@media screen and (max-width:645px) {
	.header .alt {background:none; text-align:center;}
	.header .alt ul {width:50px;margin:0 auto;}
	.header .alt li:not(.mobile) { display:none; }
	.header .alt li.mobile {display:block; border:none;}
}

@media screen and (max-width:630px) {
}


@media screen and (max-width:550px) {
	.col-xxs-12 { width:100% !important; min-height:1px; box-sizing:border-box; -webkit-box-sizing:border-box;}
	.col-xxs-6-1 { width:50% !important; min-height:1px; box-sizing:border-box; -webkit-box-sizing:border-box;}
	.col-xxs-6 { width:50% !important; min-height:1px; box-sizing:border-box; -webkit-box-sizing:border-box;}
	.footer .ustf .logof {text-align:center;}
	.footer .ustf .menuf{text-align:center;}
	.footer .ustf .adresf{text-align:center;}
	.footer .ustf .haritaf{text-align:center;}
	.section2 .ustekle {display:block;}
	.section2 .ustekli {display:none !important;}
	.logo{text-align:center;}
	.header .ust .sag .alt2 {display:none;}
	.header .ust .sag .ust2 {text-align:center;}
	.header .ust .sag .ust2 span{clear:both; font-size:12px;}
	.header .ust .sag .orta {text-align:center;}
	.header .ust .sag .orta span{clear:both; font-size:12px; width:100%;}
	.header .ust .sag .orta .cbat{display:block;}
	.section1 .baslik { font-size:14px; }
	.slayt img{height:180px;}


}

@media screen and (max-width:479px) {
	.tab-menu a {
    font-size: 10px;
    padding: 6px 6px;
	}
}
@media screen and (max-width:400px) {
	.col-xxxs-12 { width:100% !important; min-height:1px; box-sizing:border-box; -webkit-box-sizing:border-box;}
	.col-xxxs-6-1 { width:50% !important; min-height:1px; box-sizing:border-box; -webkit-box-sizing:border-box;}
	.col-xxxs-6 { width:50% !important; min-height:1px; box-sizing:border-box; -webkit-box-sizing:border-box;}
	
	.col-xxs-6 { width:100% !important; min-height:1px; box-sizing:border-box; -webkit-box-sizing:border-box;}
}

@media screen and (max-width:350px) {
	.tab-menu a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', Arial;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 12px;
    display: inline-block;
}
	.tab-menu a.b1 {
	margin-bottom:10px;
	}
	.tab-menu a.b2 {
	margin-bottom:10px;
	}
}


@media screen and (max-width:320px) {
	.col-xxs-6-1 { width:100% !important; min-height:1px; box-sizing:border-box; -webkit-box-sizing:border-box;}
}
