﻿@charset "UTF-8";
/*

Coded By Sakarya-web www.sakarya-web.com  - 0212 620 74 21
 
İsmail Deniz | Yazılım Uzmanı
http://www.ismaildenzzz.com/ 
Client  :	.com - http://www..com
Author  : 	İsmail DENİZ / CEVİZ BİLİŞİM
Created : 	13:50 - 01 Ağustos 2016

*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,900);
body{font-size:12px;color:#414042;font-family: 'Roboto', sans;height:100%; background-color:#ffffff !important;}a,applet,b,blockquote,body,caption,center,dd,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,input,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,textarea,tfoot,th,thead,tr,tt,u,ul,var{border:0;margin:0;padding:0}img{border:none}a{text-decoration:none;outline:0;color:inherit}* html,* html body{padding-top:0}* css{margin:0;padding:0}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}* html .clearfix{height:1%}.clearfix{display:block}span{height:1em;vertical-align:top}html{height:100%}.clearBoth{clear:both}.nomargin{margin:0!important;padding:0!important}.mr40{margin-right:40px}input,select{color:#58595B;line-height:18px;}
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cbat {display:none; clear:both; height:5px;}
.cboth {clear:both;}
.cboth20 {clear:both; height:20px;}
.full-width { width:100%;}
.f-left {float:left !important;}
.f-right {float:right !important;}
.padding0 { padding:0 !important;}
.paddingright0 { padding-right:0 !important;}
.paddingleft0 { padding-left:0 !important;}
.paddingleft5 { padding-left:5px !important;}
.paddingright5 { padding-right:5px !important;}
.paddingright10 { padding-right:10px !important;}
.padT5 { padding-top:5px !important;}
.marR15{margin-right:15px !important;}
.padT40 { padding-top:40px; }

.padding5 {padding-right:5px !important; padding-left:5px !important;}
.right0 { margin-right:0 !important;}
.top10 { margin-top:10px;}
.mb10{ margin-bottom:10px;}

.header {}
.header .ust-panel {background-color: #444444; padding:6px 0px; width: 100%;}
.header .ust-panel a{color:#FFF; text-decoration:none;}
.header .ust-panel .navigasyon ul li{float:left; list-style:none; padding:0px 5px;}
.header .ust-panel .sosyal-medya ul {float:right;}
.header .ust-panel .sosyal-medya ul li{float:left; list-style:none; padding:0px 5px;}
.header .orta-panel .logo { padding:15px 10px;}
.header .orta-panel .logo img {height:120px; width:100%;}

.header .alt-panel {padding: 15px 0px; box-shadow: inset 0 2px 2px 3px rgba(0,0,0,.1); border-bottom:2px solid rgba(0,0,0,.1); background: #fcfcfc;}
.header .alt-panel .menu .menuIc {width:700px; margin:0 auto;}
.header .alt-panel .menu ul {padding: 0px 86px !important;}
.header .alt-panel .menu ul li{float:left; list-style:none; padding:0px 20px;display: inline-block; border-right:2px solid rgba(0,0,0,.1);}
.header .alt-panel .menu ul li a{text-decoration:none; color:#444444; font-size:16px; font-weight:500;}

.ikiliPanel { border: 1px solid rgba(88, 89, 91, 0.17);;padding: 10px;}
.ikiliPanel .panelHead {border-bottom: 1px solid #58595B;padding: 10px 0px;}
.ikiliPanel .panelHead h3 {}
.ikiliPanel .panelBody {height: 400px;overflow: auto;}

.kategoriler { border: 1px solid #58595B;}
.kategoriler .katHead {border-bottom: 1px solid #58595B;padding: 10px 0px; margin-bottom:10px;}
.kategoriler .katBody {height: auto;}
.kategoriler .katBody ul {margin-bottom:0px !important;}
.kategoriler .katBody ul li{list-style:none; padding:5px 10px; border-bottom:1px solid #999;}
.kategoriler .katBody ul li a{text-decoration:none; color:#006;}
.kategoriler .katBody ul li:hover{background-color:#CF0; padding:5px 15px;}

.resimliYazi {margin-top:10px;}
.resimliYazi .resimAlt{width:100%; height:250px; position:relative; z-index:1;}
.resimliYazi .resimAlt img{width:100%;height:100%;}
.resimliYazi .yaziUst{ z-index:99999; position:absolute; bottom:0px; color:#FFF; padding:0px 10px;}

.form #iletisim input {margin-bottom: 10px; border-radius:0px;}
.adres h4,.form h4{ color:#0579b6; font-weight:600; margin-top:20px; margin-bottom:20px; }
.adres img {width:40px; }

.footer {line-height:40px; color:#FFF; background-color:#444444; text-align:center;}