﻿
@{
    Layout = null;
}
@Styles.Render("~/assets/css/styles.css")
@model b141210054_proje.ViewModels.AdminlerViewModels
<style>
    body {
        background-color: #e6e7e8;
    }

    .ppPanel {
        width: 350px;
        height: auto;
        margin-top: 400px;
        background-color: white;
        margin: 0 auto;
        border-top: 2px solid #4f8edc;
    }

    .ppHead {
        padding: 5px 5px;
        border-bottom: 1px dotted #808080;
    }

    .ppBody {
        padding: 50px 5px;
    }

    .clearfix200 {
        clear: both;
        height: 200px;
    }

    .clearfix {
        clear: both;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giris</title>
</head>
<body>
    <div class="container">
        <div class="clearfix200"></div>
        <div class="ppPanel">
            <div class="ppHead">
                <center><h4>Login</h4></center>
            </div>
            <div class="ppBody">
                <div class="clearfix" style="height:10px;"></div>
                @using (Html.BeginForm("LoginForm", "Login", FormMethod.Post))
                {
                    @ViewBag.Error
                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" name="username" class="form-control" id="usr">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" name="password" class="form-control" id="pwd">
                    </div>
                    <button type="submit" style="float:right;" class="btn btn-success">Kaydet</button>
                }
            </div>
        </div>
    </div>
</body>
</html>