﻿@model b141210054_proje.Controllers.AnasayfaDTO
@{
    ViewBag.Title = "Hakkımızda";
}
<div class="container body-content">
    <div class="container">
        @foreach (var item in Model.hakkimizda)
        {
        <div class="row">
            <center><h2>@item.Baslik</h2></center>
            <div style="clear:both; height:10px;"></div>
            <p>
                @item.Icerik
            </p>
        </div>
        }
    </div>
</div>
