﻿@model b141210054_proje.Models.Icerikler
@{
    ViewBag.Title = "icerik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="ikiliPanel">
                    <div class="panelHead">
                        <center><h3><strong>@Html.DisplayFor(model => model.DersAdi) : @Html.DisplayFor(model => model.Baslik)</strong></h3></center>
                        <p><center>@Html.DisplayFor(model => model.Tarih)</center></p>
                    </div>
                    <div style="clear:both; height:10px;"></div>
                    <div class="panelBody" style="height:auto !important; margin-bottom:10px;">
                        <div style="width:100%; height:250px;">
                            @if (Model.Resim == null)
                            {
                            <img src="images/banner.jpg" alt="Resim" style="width:100%; height:100%;" />
                            }
                            else
                            {
                                <img src="@Html.DisplayFor(model => model.Resim)" alt="@Html.DisplayFor(model => model.Baslik)" style="width:100%; height:100%;" />
                            }
                        </div>
                        <div class="col-md-12">
                            <br />
                            <p>
                                &nbsp; @Html.DisplayFor(model => model.Icerik)
                            </p>
                        </div>
                    </div>
                </div>
                <div style="clear:both; height:10px;"></div>

             

            <div class="col-md-4">
                <div class="yorumPanel">
                    <form id="yorumAt">
                        <div class="form-group">
                            <label for="konu">Konu :</label>
                            <input type="text" class="form-control" id="konu">
                        </div>
                        <div class="form-group">
                            <label for="yorum">Yorum :</label>
                            <textarea class="form-control" rows="5" id="yorum"></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Yorum Gönder">
                    </form>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="thumbnail">
                            <img class="img-responsive user-photo" src="~/Content/images/yorumpr.png">
                        </div><!-- /thumbnail -->
                    </div><!-- /col-sm-1 -->

                    <div class="col-sm-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div><!-- /panel-body -->
                        </div><!-- /panel panel-default -->
                    </div><!-- /col-sm-5 -->
                </div>
            </div>
                

            </div>
            <div class="col-md-3">

                <div class="kategoriler">
                    <div class="katHead"><center><strong>Kategoriler</strong></center></div>
                    <div class="katBody">
                        <ul>
                            <li><a href="/Home/Index"><img src="~/Content/images/folder.png" />&nbsp;&nbsp;Anasayfa</a></li>
                            <li><a href="/Home/Dersler"><img src="~/Content/images/folder.png" />&nbsp;&nbsp;Dersler</a></li>
                            <li><a href="/Home/Gundem"><img src="~/Content/images/folder.png" />&nbsp;&nbsp;Gundem</a></li>
                            <li><a href="/Home/Hakkimizda"><img src="~/Content/images/folder.png" />&nbsp;&nbsp;Hakkimizda</a></li>
                            <li><a href="/Home/Iletisim"><img src="~/Content/images/folder.png" />&nbsp;&nbsp;İletişim</a></li>
                        </ul>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

