﻿@model b141210054_proje.Controllers.AnasayfaDTO
@{
    ViewBag.Title = "Iletişim";
}
<div class="container body-content">
    <div class="container">
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.087188413449!2d30.29729731505834!3d40.738106979329125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb8b97341840ef98c!2sEsentepe!5e0!3m2!1str!2str!4v1480712950251" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div style="clear:both; height:10px;"></div>

            <div class="iletisimPanel">
                <div class="col-md-6 col-sm-6 form" style="padding-bottom:20px;">
                    <h4>İletişim Formu</h4>
                    <span id="iletsonuc"></span>
                    <form id="iletisim" method="post">
                        <div class="col-md-6 paddingleft0">
                            <input type="text" name="ad" value="" class="form-control" placeholder="ADINIZ">
                        </div>
                        <div class="col-md-6 paddingleft0">
                            <input type="text" name="soyad" value="" class="form-control" placeholder="SOYADINIZ">
                        </div>
                        <div class="col-md-6 paddingleft0">
                            <input type="text" name="mail" value="" class="form-control" placeholder="E-POSTA">
                        </div>
                        <div class="col-md-6 paddingleft0">
                            <input type="text" name="tel" value="" class="form-control" placeholder="TELEFON">
                        </div>
                        <div class="col-md-12 paddingleft0">
                            <input type="text" name="konu" value="" class="form-control" placeholder="KONU">
                        </div>
                        <div class="col-md-12 paddingleft0">
                            <textarea class="form-control" rows="5" name="m1" id="comment" placeholder="MESAJINIZ"></textarea>
                        </div>
                        <div class="col-md-12">
                            <input type="button" class="btn pull-right" style="background-color:#0579b6;     margin-top: 10px; color: white;" id="gonder" value="GÖNDER">
                        </div>

                    </form>
                </div>
                @foreach (var item in Model.iletisim)
                {
                <div class="col-md-6 col-sm-6 adres">
                    <h4>Bizimle İletişime Geçin</h4>
                    <p><strong>Adres</strong>: @item.Adres</p>
                    <p>
                        <strong>Telefon</strong>: @item.Tel<br>
                        <strong>E-Posta</strong>: @item.Mail<br>
                        <strong>Fax</strong>: @item.Fax<br>
                    </p>
                    <div class="cboth"></div>
                    <h4>Sosyal Medya</h4>
                    <p>Universe Pharma sizlere daha iyi hizmet verebilmesi ve hizmet kalitesini arttırabilmesi için lütfen öneri şikayet ve diğer konular için iletişim formunu kullanınız.</p>
                    <span><a href="@item.Facebook"><img src="~/Content/images/fb_buyuk.png"></a></span>
                    <span><a href="@item.Twitter"><img src="~/Content/images/twit_buyuk.png"></a></span>
                    <span><a href="@item.Googleplus"><img src="~/Content/images/gplus_buyuk.png"></a></span>
                    <span><a href="@item.Linkdn"><img src="~/Content/images/lin_buyuk.png"></a></span>

                </div>
                }
            </div>
        </div>
    </div>
</div>