﻿@model b141210054_proje.Controllers.AnasayfaDTO
@{
    ViewBag.Title = "YGS - LYS Eğitim Merkezi";
}
<div class="container body-content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="ikiliPanel">
                    <div class="panelHead">
                        <center><h3>En Son Yayımlananlar</h3></center>
                    </div>
                    <div style="clear:both; height:10px;"></div>
                    <div class="panelBody">
                        @foreach (var item in Model.icerik)
                        {
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="col-md-12" style="height:200px;">
                                @if (item.Resim == null)
                                {
                                    <img src="/Content/images/resim.jpg" alt="Resim" style="width:100%; height:100%;" />
                                }
                                else
                                {
                                    <img src="@Html.DisplayFor(modelItem => item.Resim)" alt="Resim" style="width:100%; height:100%;" />
                                }
                                </div>
                                <div class="col-md-12">
                                    <center><h4><strong>@Html.ActionLink(item.Baslik, "IcerikDetay", new { id = item.Id })</strong></h4></center>
                                    <p><center>@item.Tarih</center></p>
                                    <p>&nbsp; @item.Ozet </p>
                                    <br /><br/>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-md-3">

                <div class="kategoriler">
                    <div class="katHead"><center><strong>Kategoriler</strong></center></div>
                    <div class="katBody">
                        <ul>
                            <li><a href="/Home/Index"><img src="~/Content/images/folder.png" />&nbsp;&nbsp;Anasayfa</a></li>
                            <li><a href="/Home/Dersler"><img src="~/Content/images/folder.png" />&nbsp;&nbsp;Dersler</a></li>
                            <li><a href="/Home/Gundem"><img src="~/Content/images/folder.png" />&nbsp;&nbsp;Gundem</a></li>
                            <li><a href="/Home/Hakkimizda"><img src="~/Content/images/folder.png" />&nbsp;&nbsp;Hakkimizda</a></li>
                            <li><a href="/Home/Iletisim"><img src="~/Content/images/folder.png" />&nbsp;&nbsp;İletişim</a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>