﻿
<!DOCTYPE HTML>
<html>
<head>
    <title>Admin Tema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    
    @Styles.Render("~/assets/css/styles.css")
    @Scripts.Render("~/bundles/modernizr")

    
    <script src="js/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
    
</head>
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="mother-grid-inner">
                
                
                <!-- -------------BODY------------------------- -->
                @RenderBody()

                
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->
        <div class="sidebar-menu">
            <header class="logo1"> <!-- RESPONSİVE DE YOK OLSUN DEDIK table-style.css de-->
                <img src="~/assets/images/usericon.png" style="width:100%; max-height:128px;" />
            </header>
            <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
            <div class="menu">
                <ul id="menu">
                    
                    <li id="menu-academico"><a href="/Admin"><i class="fa fa-envelope nav_icon"></i><span>Index</span><div class="clearfix"></div></a></li>
                    <li><a href="/Admin/ProfilDuzenle/1"><i class="fa fa-picture-o" aria-hidden="true"></i><span>Profil Duzenle</span><div class="clearfix"></div></a></li>
                    <li id="menu-academico"><a href="/Admin/Hakkimizda"><i class="fa fa-bar-chart"></i><span>Hakkimizda Sayfası</span><div class="clearfix"></div></a></li>
                    <li id="menu-academico"><a href="/Admin/Iletisim"><i class="fa fa-bar-chart"></i><span>Iletisim Sayfası</span><div class="clearfix"></div></a></li>
                    <li id="menu-academico"><a href="/Admin/IcerikEkle"><i class="fa fa-bar-chart"></i><span>Icerik Ekle</span><div class="clearfix"></div></a></li>
                    <li id="menu-academico"><a href="/Admin/IcerikListele"><i class="fa fa-bar-chart"></i><span>Icerik Listele</span><div class="clearfix"></div></a></li>
                    <li id="menu-academico"><a href="/Admin/YorumListele"><i class="fa fa-bar-chart"></i><span>Yorumları Listele</span><div class="clearfix"></div></a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <script>
							var toggle = true;

							$(".sidebar-icon").click(function() {
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }

											toggle = !toggle;
										});
    </script>
    <!--js -->
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- /Bootstrap Core JavaScript -->
    <!-- morris JavaScript -->
    <script src="~/assets/js/raphael-min.js"></script>
    <script src="~/assets/js/morris.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>