﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <title>İsmail DENİZ | Software Developer </title>
</head>

<body>
    <!-- HEADER BASLANGIC -->
    <div class="header">
        <div class="ust-panel">
            <div class="container">
                <div class="row">
                    <div class="navigasyon col-md-10 col-sm-8 col-xs-6">
                        <ul style="margin-bottom:0px !important;">
                            <li><a href="#">Kat 1</a></li>
                            <li><a href="#">Kat 1</a></li>
                            <li><a href="#">Kat 1</a></li>
                        </ul>
                    </div>
                    <div class="sosyal-medya col-md-2 col-sm-4 col-xs-6">
                        <ul style="margin-bottom:0px !important;">
                            
                            <li>
                                @using(Html.BeginForm("Dil_Tr", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    <button type="submit" class="btn btn-default" style="padding: 4px !important; font-size:12px;">Tr</button>
                                }
                            </li>
                            <li>
                                @using (Html.BeginForm("Dil_En", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    <button type="submit" class="btn btn-default" style="padding: 4px !important; font-size:12px;">En</button>
                                }
                            </li>
                            <li>
                                <a href="/UserLogin">
                                    User Girişi
                                </a>
                            </li>
                            <li>
                                <a href="/Login">
                                    Admin Paneli
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="orta-panel">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-3 col-xs-2"></div>
                    <div class="logo col-md-4 col-sm-6 col-xs-8">
                        <img src="~/Content/images/logo-bilim.jpg" alt="Logo" />
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-2"></div>
                </div>
            </div>
        </div>
        <div class="alt-panel" style="height:auto !important; padding:15px 0px !important;">
            <div class="container">
                <div class="menu row">
                    <div class="menuIc">
                        <ul>
                            <li><a href="/Home/Index">Anasayfa</a></li>
                            <li><a href="/Home/Dersler">Dersler</a></li>
                            <li><a href="/Home/Gundem">Gündem</a></li>
                            <li><a href="/Home/Hakkimizda">Hakkımızda</a></li>
                            <li><a href="/Home/Iletisim">İletişim</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12" style="display:none;"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both; height:10px;"></div>
    <!-- HEADER BITIS -->
    @RenderBody()
    <!-- FOOTER BASLANGIC -->
    <div style="clear:both; height:10px;"></div>
    <div class="footer">
        <div class="container">
            <div class="coypright row">
                Tüm Telif Hakkları ismaildenzzz.com ' a Aittir.
            </div>
        </div>
    </div>
    <!-- FOOTER BITIS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>



