﻿@model b141210054_proje.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table>
        <tbody>
            <tr>
                <td style="width: 140px;">@Html.LabelFor(m => m.Username)</td>
                <td>@Html.TextBoxFor(m => m.Username)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.RememberMe)</td>
                <td>@Html.CheckBoxFor(m => m.RememberMe)</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Giriş" class="btn btn-default"></td>
            </tr>
        </tbody>
    </table>
}